﻿@model LoginRequestDto

@* <form method="POST">
    <div class="containter border p-4">
        <div class="row text-center">
            <h1>Login</h1>
        </div>
        <div class=" row text-center">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>

        <div>
            <div class="col-6 offset-3 pb-2">
                @* <input asp-for="" 
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">Email address</label>
            </div>
        </div>
    </div>
</form> *@

<form method="post">
    <div class="container border p-4">
        <div class="row text-center">
            <h1>Login</h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <input asp-for="UserName" class="form-control" placeholder="Username..." />
                <span asp-validation-for="UserName" class="text-danger" />
            </div>
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <input asp-for="Password" class="form-control" placeholder="Password..." />
                <span asp-validation-for="Password" class="text-danger" />
            </div>
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <button type="submit" class="form-control btn btn-success" value="Submit">Login</button>
            </div>
        </div>
    </div>
</form>