﻿@model CartDto
@if (Model.CartHeader != null && Model.CartDetails?.Count() > 0)
{

    <form method="post" asp-action="EmailCart">
        <br />
        <input asp-for="CartHeader.UserId" hidden />
        <input asp-for="CartHeader.CartHeaderId" hidden />

        <div class="">
            <div class="card border mt-4 container">
                <div class="card-header bg-dark text-light ml-0 row ">
                    <div class="col-6">
                        <h3 class="text-success"><i class="bi bi-cart"></i> &nbsp; Shopping Cart</h3>
                    </div>
                    <div class="col-6 text-end">
                        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-warning mt-2 btn-sm">Continue Shopping</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class=" d-none d-lg-block">
                        <div class="row text-info">
                            <div class="col-lg-2">
                            </div>
                            <div class="col-lg-5">
                                Product Details
                            </div>
                            <div class="col-lg-2">
                                Price
                            </div>
                            <div class="col-lg-2">
                                Count
                            </div>
                            <div class="col-lg-1">
                            </div>
                        </div>
                    </div>
                    <hr />

                    @foreach (var cartObj in Model.CartDetails)
                    {

                        <div class="row h-100">
                            <div class="col-4 col-md-2 text-center py-2">
                                <img src="@cartObj.Product.ImageUrl" class="rounded" width="100%" />
                            </div>
                            <div class="col-8 col-md-5">
                                <h5>@cartObj.Product.Name</h5>
                                <div style="font-size:11px;">@Html.Raw(cartObj.Product.Description)</div>
                            </div>
                            <div class="col-3 col-md-2 pt-md-4" style="font-size:11px;">
                                <span style="font-size:17px;">@string.Format("{0:c}",cartObj.Product.Price) </span>
                            </div>
                            <div class="col-3 col-md-2 pt-md-4" style="font-size:11px;">
                                <span style="font-size:17px;">@cartObj.Count</span>
                            </div>
                            <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                                <a asp-action="Remove" asp-route-cartDetailsID="@cartObj.CartDetailsId" class="btn btn-sm btn-danger">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </div>
                        </div>
                    }
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            @if (string.IsNullOrEmpty(Model.CartHeader.CouponCode))
                            {
                                <span>Coupon:</span>
                                <input asp-for= "CartHeader.CouponCode"/>
                                <button type="submit" asp-action="ApplyCoupon" class="btn btn-sm btn-success"> Apply </button>
                            }
                            else
                            {
                                <span>Coupon:</span>
                                <input asp-for="CartHeader.CouponCode" disabled/>
                                <button type="submit" asp-action="RemoveCoupon" class="btn btn-sm btn-success"> Remove </button>
                            }
                        </div>
                        <div class="col-6 text-end">
                            <span class="text-danger" style="font-size:21px;">  Order Total : @string.Format("{0:c}", Model.CartHeader.CartTotal) <br /></span>
                            @if (Model.CartHeader.Discount > 0)
                            {
                                <span class="text-success"> Order Discount :  @string.Format("{0:c}", Model.CartHeader.Discount) </span>
                            }

                        </div>
                    </div>
                </div>
                <div class="card-footer row">
                    <div class="col-6 col-md-3 ">
                        <button type="submit" class="btn btn-outline-danger form-control">Email Cart</button>
                    </div>
                    <div class="col-6 col-md-3 offset-md-6">
                        <a asp-action="Checkout"  class="btn btn-success form-control">Checkout"</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <div>
        <p>Please add items to cart</p>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}