﻿@model int
<div class="text-center">
    <h1 class="text-info pt-4">Congrat! you are one step closer to amazing food</h1>
    <p class="pb-3">We have received your order and will be ready in 30" during regular buiness hours"</p>
    <h4 class="text-warning pb-3">Order ID - @Model</h4>
    <img src="/images/order.PNG" width="80%" />

</div>
